.first_term {
  font-family: FreeMono, monospace;
  color: #aaa;
  background-color: #000;
  font-size: 12px;
  line-height: 14px;
}
.second_term {
  font-family: FreeMono, monospace;
  color: white;
  background-color: blue;
  font-size: 10px;
  line-height: 12px;
}
